<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Combat News</name>

    <description>
        Combat News is a news application that provides content focusing on MMA (Mixed Martial Arts), Kickboxing and BJJ (Brazilian Jiu-Jitsu) all delivered onto your mobile device.. 
    </description>

    <author href="https://build.phonegap.com" email="support@phonegap.com">
        Hardeep Shoker 
    </author>
	<access origin="*"/>
</widget>